<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Home</title>
  </head>
  <body class="vh-100">
    <div id="modal"></div>
    <style>
      * {
        padding: 0px;
        margin: 0px;
        /* box-sizing: border-box; */
      }
      #cards-container {
        justify-content: center;
        grid-template-columns: repeat(
          auto-fit,
          minmax(min(100%/2, max(10px, 100%/5)), 250px)
        );
      }
    </style>
    <%- include("partials/nav.ejs") %>

    <div
      class="shadow-lg bg-primary w-100 h-25 container-fluid position-relative"
    >
      <div
        style="transform: translate(-50%, 50%)"
        class="position-absolute bottom-0 start-50 w-75 d-flex bg-white border border-1 border-grey rounded-3 p-1"
      >
        <div class="w-100 d-flex">
          <input
            name="url"
            id="url"
            type="text"
            placeholder="Video url"
            style="border: none"
            class="form-control w-100"
            autocomplete="off"
          />
        </div>
        <button id="paste" class="btn btn-sm btn-outline-info">Paste</button>
        <button
          id="download"
          type="submit"
          class="btn btn-sm btn-success ms-1"
          disabled
        >
          Download
        </button>
      </div>
    </div>

    <div
      class="w-100 container d-flex flex-column justify-content-center align-items-center mt-5"
    >
      <% if(typeof videos !== 'undefined'){ %>
      <div class="">
        <h1>Recent Downloaded Videos</h1>
      </div>
      <div id="cards-container" class="w-100 d-grid gap-5">
        <% videos.forEach((vid)=>{ %> <%- include("partials/videoCard.ejs",vid)
        %> <% }) %>
      </div>
      <% } %>
    </div>

    <script>
      const urlInput = document.getElementById('url');
      const paste = document.getElementById('paste');
      const btn = document.getElementById('download');
      const modal = document.getElementById('modal');

      paste.addEventListener('click', async () => {
        urlInput.value = await navigator.clipboard.readText();
        if (urlInput.value.length > 0) {
          btn.removeAttribute('disabled');
        } else {
          btn.setAttribute('disabled', '');
        }
      });

      urlInput.addEventListener('keyup', (e) => {
        if (e.target.value.length > 0) {
          btn.removeAttribute('disabled');
        } else {
          btn.setAttribute('disabled', '');
        }
      });

      btn.addEventListener('click', (e) => {
        fetch(`/video/info?url=${urlInput.value}`)
          .then((res) => res.json())
          .then(({ error, success, html }) => {
            if (success) {
              modal.innerHTML = html;
            } else {
              alert(error);
            }
          })
          .then(() => document.getElementById('showBtn').click())
          .then(() => {
            const download_form = document.getElementById('download-form');
            console.log('test');
            download_form.addEventListener('submit', (e) => {
              e.preventDefault();
            });
            document.querySelectorAll('[qulty]').forEach((qulty, index) => {
              console.log(qulty);
              qulty.addEventListener('click', async (e) => {
                document.getElementById('itag-input').value =
                  e.target.getAttribute('qulty');
                download_form.submit();
              });
            });
          });
      });
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
